@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

.main_div {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
}

.music_container {
  width: 35rem;
  height: 55rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
}
